streamlit==1.38.0
requests
beautifulsoup4
feedparser
pandas
PyPDF2
scikit-learn
sentence-transformers==2.2.2
torch==2.2.0
transformers==4.36.2
textblob
nltk
langchain-core==0.2.19
langchain-groq==0.1.5
python-dotenv







